
body{
  background-image: url(../images/back-ground.jpeg);
}

img{
   width: 120px;
   margin-bottom: 15px;
   display:block;
   margin-left: auto;
   margin-right: auto;
}

h1{
  text-align: center;
  text-transform: uppercase;
}


@media all and (min-width: 850px){

  #mystuff > div:nth-child(even){
    border:2px solid black;
  }

  #mystuff{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 10px;
  }

  div{
     padding: 30px;
     margin:5px;
     display: grid;
     text-align: center;
  }

}

@media all and (max-width: 850px){

  #mystuff{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 10px;
  }

  div{
     padding: 30px;
     margin:5px;
     display: grid;
     text-align: center;
  }

}
